In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
credit_card_data = pd.read_csv('fraudTest.csv')

In [3]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 23 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             555719 non-null  int64
 1   trans_date_trans_time  555719 non-null  object
 2   cc_num                 555719 non-null  int64
 3   merchant               555719 non-null  object
 4   category               555719 non-null  object
 5   amt                    555719 non-null  float64
 6   first                  555719 non-null  object
 7   last                   555719 non-null  object
 8   gender                 555719 non-null  object
 9   street                 555719 non-null  object
 10  city                   555719 non-null  object
 11  state                  555719 non-null  object
 12  zip                    555719 non-null  int64
 13  lat                    555719 non-null  float64
 14  long                   555719 non-null  float64
 15  city_pop               555719 non-null  int64
 16  job                    555719 non-null  object
 17  dob                    555719 non-null  object
 18  trans_num              555719 non-null  object
 19  unix_time              555719 non-null  int64
 20  merch_lat              555719 non-null  float64
 21  merch_long             555719 non-null  float64
 22  is_fraud               555719 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 97.5+ MB

In [4]:
credit_card_data.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [5]:
credit_card_data = credit_card_data[['cc_num','amt','lat','long','merch_lat','merch_long','is_fraud']]
# X = credit_card_data
# y = credit_card_data['is_fraud']

In [6]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   cc_num      555719 non-null  int64
 1   amt         555719 non-null  float64
 2   lat         555719 non-null  float64
 3   long        555719 non-null  float64
 4   merch_lat   555719 non-null  float64
 5   merch_long  555719 non-null  float64
 6   is_fraud    555719 non-null  int64
dtypes: float64(5), int64(2)
memory usage: 29.7 MB

In [7]:
credit_card_data.head(10)

,cc_num,amt,lat,long,merch_lat,merch_long,is_fraud
0,2291163933867244,2.86,33.9659,-80.9355,33.986391,-81.200714,0
1,3573030041201292,29.84,40.3207,-110.4360,39.450498,-109.960431,0
2,3598215285024754,41.28,40.6729,-73.5365,40.495810,-74.196111,0
3,3591919803438423,60.05,28.5697,-80.8191,28.812398,-80.883061,0
4,3526826139003047,3.19,44.2529,-85.0170,44.959148,-85.884734,0
5,30407675418785,19.55,42.1939,-76.7361,41.747157,-77.584197,0
6,213180742685905,133.93,40.5070,-123.9743,41.499458,-124.888729,0
7,3589289942931264,10.37,43.7557,-97.5936,44.495498,-97.728453,0
8,3596357274378601,4.37,41.0001,-78.2357,41.546067,-78.120238,0
9,3546897637165774,66.54,31.6591,-96.8094,31.782919,-96.366185,0

In [8]:
credit_card_data['is_fraud'].value_counts()

is_fraud
0    553574
1      2145
Name: count, dtype: int64

In [9]:
true = credit_card_data[credit_card_data.is_fraud == 0]
fraud = credit_card_data[credit_card_data.is_fraud == 1]

In [10]:
print(true.shape)
print(fraud.shape)

(553574, 7)
(2145, 7)

In [11]:
true_sample = true.sample(n=2145)

In [12]:
new_dataset = pd.concat([true_sample, fraud], axis=0)

In [13]:
new_dataset['is_fraud'].value_counts()

is_fraud
0    2145
1    2145
Name: count, dtype: int64

In [14]:
X = new_dataset.drop(columns='is_fraud', axis=1)
Y = new_dataset['is_fraud']

In [15]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2,  random_state=42)

In [16]:
print(X.shape, X_train.shape, X_test.shape)

(4290, 6) (3432, 6) (858, 6)

In [17]:
model = LogisticRegression()

In [18]:
model.fit(X_train, Y_train)

LogisticRegression()

In [19]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [20]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [21]:
print('ACCuracy score on test data : ' , test_data_accuracy)

ACCuracy score on test data :  0.5268065268065268